<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<div id="uploaderTestPaper" class="uploader">

    <div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
    <button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择文件</button>
    <button id="downLoad" class="btn btn-primary " type="button"><i class="icon icon-download"></i>
       <a href="/static/excel/批量导入试卷.xlsx" style="text-decoration: none;color:#fff;"/>导入模板下载</button>

</div>
<script type='text/javascript' src="/static/js/zui-1.9.1-dist/dist/js/zui.js"></script>
<script type='text/javascript' src="/static/js/zui-1.9.1-dist/dist/lib/uploader/zui.uploader.js"></script>
<script type='text/javascript' src='/static/app/html/common/uploadFile.js'></script>
</body>
</html>