<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试卷管理</title>
</head>
<body>

<h1 style="text-align: center">试卷管理</h1>
<div id="page">
    <button style="margin-bottom: 40px;" type="button" class="btn  btn-primary" data-toggle="modal" data-target="#newModel">自动组卷</button>
    <button style="margin-bottom: 40px;" type="button" class="btn  btn-primary" ><a href="/TestPaperManager/importBatchTestPaper" style="text-decoration: none;color: #ffffff">批量导入试卷</a></button>
    <button style="margin-bottom: 40px;" type="button" class="btn   btn-danger" data-toggle="modal" data-target="#deleteAllModel">批量删除</button>

    <table id="testPaper" class="table table-striped">
        <thead>
        <tr>
            <th>
                <input id="CheckedAll" type="checkbox">
            </th>
            <th>#</th>
            <th>试卷名称</th>
            <th>试卷备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="testPaperTable">
        </tbody>
    </table>
    <!--在这里放一个page的盒子，里面的内容由js添加-->
    <div id="page1">
    </div>
</div>
<div class="modal fade" id="newModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">自动组卷</h4>
            </div>
            <div class="modal-body">
                <h2>是否自动组卷?</h2><p>自定义自动组卷功能尚在开发......</p>（自动组卷默认10道单选题 十道判断题 十道填空题 两道改错题 两道编程题）

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">关闭</button>
                <button id="saveTestPaper" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modifyModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">修改试卷信息</h4>
            </div>
            <div class="modal-body">
                试卷名称：
                <input id="testtitle" class="form-control input-lg" style="font-size: 13px" type="text" placeholder="请输入试卷名称">
                <div id="testcon" style="display: none;">
                试卷内容：
                    <script id="content" type="text/plain" name="content"></script>
                </div>
                试卷备注：
                <input id="testremark" class="form-control input-lg" style="font-size: 13px" type="text" placeholder="请输入试卷备注">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="modifyTestPaper" type="button" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">删除单个试卷</h4>
            </div>
            <div class="modal-body">
                <p>是否删除当前试卷?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">否</button>
                <button id="deleteTestPaper" type="button" class="btn btn-primary">是</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteAllModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">批量删除试卷</h4>
            </div>
            <div class="modal-body">
                <p>是否删除这些试卷?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">否</button>
                <button id="deleteTestPapers" type="button" class="btn btn-primary">是</button>
            </div>
        </div>
    </div>
</div>

<div class="load-indicator loading mark" style="display: none;position:fixed;"></div>
<script type='text/javascript' src="/static/js/jquery-3.3.1.js"></script>
<script type='text/javascript' src="/static/js/zui-1.9.1-dist/dist/js/zui.js"></script>
<script type="text/javascript" src="/static/js/zui-1.9.1-dist/dist/lib/datagrid/zui.datagrid.js"></script>
<script type="text/javascript" src="/static/js/pagination/pagination.js"></script>
<script type="text/javascript" src="/static/app/html/test/testPaperManager.js"></script>
<script type="text/javascript" src="/static/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('content');
</script>
<script type="text/html" id="list_temp">
    {{if testPaper.length > 0}}
    {{each testPaper}}
    <tr>
        <td>
            <input type="checkbox" data-code = "{{$value.testid}}">
        </td>
        <td data-type="{{$value.testtype}}">{{$value.testid}}</td>
        <td><a href="/TestPaperManager/testPaperInfo?testid={{$value.testid}}&&type={{$value.testtype}}">{{$value.testtitle}}</a></td>
        <td>{{$value.testremark}}</td>
        <td>
            <button type="button" class="btn  btn-primary modifyBtn" data-toggle="modal" data-target="#modifyModel">编辑</button>
            <button type="button" class="btn  btn-danger deleteBtn" data-toggle="modal" data-target="#deleteModel">删除</button>
        </td>
    </tr>
    {{/each}}
    {{else}}
    <div style="margin: 0 auto">查询不到结果</div>
    {{/if}}
</script>
</body>
</html>